@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  th,
  td {
    @apply whitespace-nowrap;
  }
  select {
    @apply px-2 py-1 rounded-md border;
  }
  input {
    @apply px-3 py-2 focus-within:outline-blue-600;
  }
  button {
    @apply select-none;
  }
}

@layer utilities {
  .table-heading-style {
    @apply px-6 py-3 text-left text-sm font-semibold text-gray-800;
  }
  .table-cell-style {
    @apply px-6 py-4 text-sm text-gray-800;
  }
  .btn {
    @apply px-3 py-1.5 text-sm font-medium border rounded-md hover:shadow hover:bg-gray-100;
  }
  .btn-danger {
    @apply bg-red-500 text-white hover:bg-red-400;
  }
  .inventory-form input {
    @apply block w-full rounded-md border border-gray-300 shadow-sm focus-within:border-blue-500;
  }
  .inventory-form .input-box {
    @apply space-y-1;
  }
}
